<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lanshan.dao.UserMapper">
	<!-- 插入用户信息 -->
	<insert id="insertUser" parameterType="com.lanshan.db.User">
		insert into user (
			id,
			account,
			password,
			passworderr,
			lastlogintime,
			createtime
			) 
		values(
			#{id},    
			#{account},    
			#{password},    
			#{passworderr},    
			now(),    
			now()
		)
	</insert>
	
	
	<!-- 获取用户数据 -->
	<select id="getUser" parameterType="com.lanshan.db.User" resultType="com.lanshan.db.User">
		select * from user where
			1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="account != null">
			and account = #{account}
		</if>
		<if test="password != null">
			and password = #{password}
		</if>
	</select>
	
	<!-- 用户登录-->
	<select id="userLogin" parameterType="String" resultType="com.lanshan.db.User">
		select * from User where account = #{account}
	</select>
	
	<!-- 更新用户数据 -->
	<update id="updateUser" parameterType="com.lanshan.db.User">
		update user set
		<if test="account != null">
			account=#{account},
		</if>
		<if test="password != null">
			password = #{password},
		</if>
		lastlogintime = now()
		where id = #{id}
	</update>
</mapper>